p,
a {
  margin: 0;
  padding: 0;
}

main {
  background-color: #98CCDC;
}

.img-default {
  max-height: 4em;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  object-fit: contain;
}

.img-bg {
  background-image: url(../assets/img/deposito75.jpg);
  background-position: center;
}

iframe{
  line-height: 0;
}

.btn-ws{
  position: fixed;
  bottom:60px;
  right: 20px;
}

.white-logo{
  color: #DDE8F1;
}

.lightBlue-logo{
  background-color: #008ABD !important;
}

.blue-logo{
  background-color: #0C4580 !important;
}

#btn-header:hover{
  background-color: #0C4580 !important;
}

/* 
Colors: 
#DDE8F1
#98CCDC
#008ABD
#0C4580
#1C2443
 */