p,
a {
  margin: 0;
  padding: 0;
}

main {
  background-color: #98CCDC;
}

.shadowText {
  text-shadow: 0 0 0.3rem #292828;
}

.shadowTextSmall {
  text-shadow: 0 0 0.4rem #292828;
}

.img-default {
  max-height: 4em;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  object-fit: contain;
}

.img-bg {
  background-image: url(../assets/img/deposito.jpg);
  background-position: center;
}

iframe{
  line-height: 0;
}

.btn-ws{
  position: fixed;
  bottom:60px;
  right: 20px;
}

.white-logo{
  color: #DDE8F1;
}

.white-logo-bg{
  background-color: #DDE8F1 !important;
}

.lighterBlue-logo{
  color: #98CCDC;
}

.lightBlue-logo{
  background-color: #008ABD !important;
}

.blue-logo{
  background-color: #0C4580 !important;
}

.darkBlue-logo{
  color: #1C2443 !important;
}

#btn-fixed:hover{
  background-color: green !important;
}

#btn-header:hover{
  background-color: #0C4580 !important;
}

