p,
a {
  margin: 0;
  padding: 0;
}

main {
  background-color: #94DDDE;
}

.shadowText {
  text-shadow: 0 0 1rem #292828;
}

.shadowTextSmall {
  text-shadow: 0 0 0.4rem #292828;
}

.img-default {
  max-height: 4em;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  object-fit: contain;
}

.img-bg {
  background-image: url(../assets/img/deposito.jpg);
  min-height: 60vh;
  background-position: center;
}

iframe{
  line-height: 0;
}

/* .img-logo{
  width:
} */